.navbar-header {
    padding-top: 15px;

    .container-navbar {
        @include flex(space-between, center);

        .navbar {
            display: none;

            @include breakpoint-up(xl) {
                display: block;
            }

            .nav {
                @include flex(flex-start, center);
                list-style: none;
                gap: 20px;
                margin-right: 50px;

                .nav__item {
                    position: relative;
                }

                .nav__item--dropdown {
                    &:hover {
                        .dropdown {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    }
                }

                &__link {
                    text-decoration: none;
                    color: var(--text-title);
                    font-family: "Jost", sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    transition: all 0.2s ease;

                    &:hover {
                        color: $color-primary-hover;
                    }
                }

                & .dropdown {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    min-width: 200px;
                    background-color: var(--bg-app);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.057), -3px -3px 5px rgba(0, 0, 0, 0.057);
                    list-style: none;
                    z-index: 100;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(10px);
                    transition: all 0.3s ease;
                    padding: 0;

                    .dropdown__item {
                        border: 1px solid #8888881e;
                        padding: 10px 8px;
                    }
                }

                .dropdown__link {
                    text-decoration: none;
                    color: var(--text-title);
                    font-family: "Jost", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 28px;

                }

            }
        }

        .navbar-btn {
            @include flex(flex-end, center);
            gap: 20px;

            .btn-primary {
                @include breakpoint-up(sm) {
                    display: block !important;
                }

                display: none;
                background-color: #1CBBB4;
            }

            .btn-primary::after {
                background-color: #73BE48;
            }

            .navbar-tog {
                @include breakpoint-up(xl) {
                    display: none;
                }

                span.navbar-icon {
                    position: relative;
                    display: inline-block;
                    height: 4px;
                    width: 35px;
                    background-color: $color-title-dark;
                    border-radius: 3px;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -10px;
                        right: 0;
                        height: 3px;
                        width: 20px;
                        background-color: $color-title-dark;
                        border-radius: 3px;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        top: 10px;
                        right: 0;
                        height: 3px;
                        width: 20px;
                        background-color: $color-title-dark;
                        border-radius: 3px;
                    }

                }

                // display: none;
            }
        }
    }
}

.input-box:checked~.navbar-mobile {
    transform: translateX(0);
    transition: all 0.3s ease;
}

.input-box:checked~.overlay {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000074;
    z-index: 4;
    display: none;
}

.navbar-mobile {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
    width: 450px;
    max-width: 100%;
    padding: 25px 30px;
    background-color: var(--color-border);
    border-left: 2px solid $color-primary-hover;
    box-shadow: 0 3px 5px #00000078;
    z-index: 90;

    .logo-close {
        @include flex(space-between, center);
        margin-bottom: 20px;

        .nav-close {
            span.nav-close-btn {
                display: inline-block;
                width: 40px;
                height: 40px;
                border: 1px solid $color-primary-dark;
                background-color: $color-primary-hover ;
                border-radius: 8px;
            }
        }
    }

    .nav-mobile {
        list-style: none;
        padding: 0;

        .nav-moblie__item {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid var(--text-primary);

            .nav-moblie__link {
                text-decoration: none;
                color: var(--text-primary);
            }
        }
    }

    .contact-info {
        padding: 0;
        list-style: none;

        p {
            font-family: "Jost", sans-serif;
            font-weight: $fw-700;
            font-size: 20px;
            line-height: $lh-title;
            color: var(--text-title);
        }

        .contact-list {
            padding: 5px 20px;

            .contact-link {
                text-decoration: none;
                color: var(--text-primary);
            }
        }
    }

    .btn-primary {
        display: none;

        @include breakpoint-up(sm) {
            display: block !important;
        }

        margin-bottom: 20px;
        ;
        width: 100%;
        background-color: $color-primary-hover;
    }

    .btn-primary::after {
        background-color: #73BE48;
    }

    .info__boxs {
        @include flex(flex-start, center);
        gap: 20px;

        span.info__box {
            background-color: var(--bg-app);
            width: 40px;
            height: 40px;
            transition: all 0.2s ease;

            &:hover {
                background-color: $color-primary-hover;
            }
        }
    }
}

//LOGO
.navbar-brand {
    @include flex(flex-start, center);
    gap: 5px;

    a {
        text-decoration: none;
        font-family: "Nunito", sans-serif;
        font-weight: $fw-700;
        font-size: $fs-title;
        color: var(--text-title);
    }
}